<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zone.chatterz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FollowersActivity"></activity>
        <activity android:name=".FriendOnlineActivity"></activity>
        <activity android:name=".Settings.GeneralSettings" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CreateNewGroup" />
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".mainFragment.ChatActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChatMessageActivity" />
        <activity android:name=".PreActivities.RegisterActivity" />
        <activity android:name=".PreActivities.LoginActivity" />
        <activity android:name=".PreActivities.WelcomeActivity" />
        <activity android:name=".PreActivities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>