<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zone.chatterz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PostsActivity"></activity>
        <activity android:name=".CreatePostCamera" />
        <activity android:name=".mainFragment.SearchActivity" />
        <activity android:name=".camera.FinalPreviewActivity" />
        <activity android:name=".FollowingFollowersActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".mainFragment.CreatePostActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".settings.EditProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CreateNewGroup" />
        <activity android:name=".groupChats.GroupChatMessageActivity" />
        <activity android:name=".mainFragment.ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".singleChat.ChatMessageActivity" />
        <activity android:name=".preActivities.RegisterActivity" />
        <activity android:name=".preActivities.LoginActivity" />
        <activity android:name=".preActivities.WelcomeActivity" />
        <activity android:name=".preActivities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.PostUploadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".notification.FirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.FirebaseMessage"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/blur" />
    </application>

</manifest>